# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Recipe_book/cmake-build-debug/
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.ninja_deps
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.ninja_log
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/build.ninja
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/codemodel-v2-df7a8819f3b2051c9ef5.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/directory-.-Debug-f44a43245cca917f9856.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/index-2023-03-23T14-03-15-0814.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/target-Recipe_book-Debug-27f6e8f46e66bf3f71a0.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/codemodel-v2-13df42443e4f761aafe9.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/index-2023-03-22T23-47-23-0033.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/target-Recipe_book-Debug-d328b21277d01fd6e1f6.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.qtc_clangd/compile_commands.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/Recipe_book_autogen.dir/AutogenInfo.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/Recipe_book_autogen.dir/ParseCache.txt
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/Recipe_book_autogen/deps
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/Recipe_book_autogen/EWIEGA46WW/moc_mainwindow.cpp
