# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Recipe_book/cmake-build-debug/
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.ninja_deps
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.ninja_log
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/build.ninja
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/codemodel-v2-df7a8819f3b2051c9ef5.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/directory-.-Debug-f44a43245cca917f9856.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/index-2023-03-23T14-03-15-0814.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/target-Recipe_book-Debug-27f6e8f46e66bf3f71a0.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/codemodel-v2-13df42443e4f761aafe9.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/index-2023-03-22T23-47-23-0033.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/target-Recipe_book-Debug-d328b21277d01fd6e1f6.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.qtc_clangd/compile_commands.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/Recipe_book_autogen.dir/AutogenInfo.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/Recipe_book_autogen.dir/ParseCache.txt
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/Recipe_book_autogen/deps
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/Recipe_book_autogen/EWIEGA46WW/moc_mainwindow.cpp
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/codemodel-v2-114e992794fa524fe86f.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/directory-.-Debug-be2919207a142d378a0d.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/index-2023-03-24T14-52-09-0951.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/target-Recipe_book-Debug-28ab4748d69a8fa2214d.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/codemodel-v2-df7a8819f3b2051c9ef5.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/directory-.-Debug-f44a43245cca917f9856.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/index-2023-03-23T14-03-15-0814.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/target-Recipe_book-Debug-27f6e8f46e66bf3f71a0.json
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/MRS5KBPM3K/moc_selectpagetype.cpp
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/qtcsettings.cmake
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/UsersBORISB~1AppDataLocalTemptmp8gawm_kv
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/UsersBORISB~1AppDataLocalTemptmpd3k0f4hx
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/UsersBORISB~1AppDataLocalTemptmph6m6gsai
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/UsersBORISB~1AppDataLocalTemptmpj2xck0w7
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/UsersBORISB~1AppDataLocalTemptmpkdczwey_
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/UsersBORISB~1AppDataLocalTemptmpvadug79w
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/codemodel-v2-3b0422958980dfd78036.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/index-2023-03-27T16-23-07-0246.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/target-Recipe_book-Debug-37e19b69ae38509882f1.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/cache-v2-1d9cfbfc2c032779cc62.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/cmakeFiles-v1-16a879054f4bf63a901b.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/codemodel-v2-2c6575e35295700f2384.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/directory-.-Debug-be2919207a142d378a0d.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/index-2023-03-27T08-38-51-0377.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/target-Recipe_book_autogen_timestamp_deps-Debug-3ea9de0448b94be2e5ba.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/target-Recipe_book_autogen-Debug-2fb9c19926eda3b6ac22.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/target-Recipe_book-Debug-24c5820948f37c0a35f5.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/Recipe_book_autogen/mocs_compilation.cpp
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/Recipe_book_autogen/include/ui_mainwindow.h
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/Recipe_book_autogen/MRS5KBPM3K/moc_selectpagetype.cpp
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/Recipe_book_autogen/MRS5KBPM3K/moc_settingpagetypeone.cpp
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/Recipe_book_autogen/MRS5KBPM3K/moc_settingpagetypetwo.cpp
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/Recipe_book_autogen/T7X33WEVWS/moc_recipepagetypeone.cpp
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/Recipe_book_autogen/T7X33WEVWS/moc_recipepagetypetwo.cpp
Recipe_book/cmake-build-debug-mingw/.ninja_deps
Recipe_book/cmake-build-debug-mingw/.ninja_log
Recipe_book/cmake-build-debug-mingw/build.ninja
Recipe_book/cmake-build-debug-mingw/cmake_install.cmake
Recipe_book/cmake-build-debug-mingw/CMakeCache.txt
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/query/cache-v2
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/query/cmakeFiles-v1
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/query/codemodel-v2
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/query/toolchains-v1
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/reply/cache-v2-66088b78e5243e11924a.json
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/reply/cmakeFiles-v1-438c915e18115623c0aa.json
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/reply/codemodel-v2-1cbe484dd234be68a8c0.json
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/reply/directory-.-Debug-be2919207a142d378a0d.json
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/reply/index-2023-03-27T08-40-58-0779.json
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/reply/target-Recipe_book_autogen_timestamp_deps-Debug-17eaf98c7bf5753a5e13.json
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/reply/target-Recipe_book_autogen-Debug-63ae902215a471197aa7.json
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/reply/target-Recipe_book-Debug-05685c400a0c062fc956.json
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/reply/toolchains-v1-ddd5ebe01f8ed2529fb4.json
Recipe_book/cmake-build-debug-mingw/.qt/QtDeploySupport.cmake
Recipe_book/cmake-build-debug-mingw/CMakeFiles/clean_additional.cmake
Recipe_book/cmake-build-debug-mingw/CMakeFiles/clion-Debug-MinGW-log.txt
Recipe_book/cmake-build-debug-mingw/CMakeFiles/clion-environment.txt
Recipe_book/cmake-build-debug-mingw/CMakeFiles/cmake.check_cache
Recipe_book/cmake-build-debug-mingw/CMakeFiles/rules.ninja
Recipe_book/cmake-build-debug-mingw/CMakeFiles/TargetDirectories.txt
Recipe_book/cmake-build-debug-mingw/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
Recipe_book/cmake-build-debug-mingw/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
Recipe_book/cmake-build-debug-mingw/CMakeFiles/3.24.2/CMakeRCCompiler.cmake
Recipe_book/cmake-build-debug-mingw/CMakeFiles/3.24.2/CMakeSystem.cmake
Recipe_book/cmake-build-debug-mingw/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Recipe_book/cmake-build-debug-mingw/CMakeFiles/Recipe_book_autogen.dir/AutogenInfo.json
Recipe_book/cmake-build-debug-mingw/CMakeFiles/Recipe_book_autogen.dir/AutogenUsed.txt
Recipe_book/cmake-build-debug-mingw/CMakeFiles/Recipe_book_autogen.dir/ParseCache.txt
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/deps
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/moc_predefs.h
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/mocs_compilation.cpp
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/timestamp
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/EWIEGA46WW/moc_mainwindow.cpp
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/EWIEGA46WW/moc_recipepagetypeone.cpp
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/EWIEGA46WW/moc_recipepagetypetwo.cpp
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/EWIEGA46WW/moc_selectpagetype.cpp
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/EWIEGA46WW/moc_settingpagetypeone.cpp
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/EWIEGA46WW/moc_settingpagetypetwo.cpp
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/include/ui_mainwindow.h
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/include/ui_recipepagetypeone.h
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/include/ui_recipepagetypetwo.h
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/include/ui_selectpagetype.h
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/include/ui_settingpagetypeone.h
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/include/ui_settingpagetypetwo.h
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/MRS5KBPM3K/moc_settingpagetypeone.cpp
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/MRS5KBPM3K/moc_settingpagetypetwo.cpp
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/NAREAVVVVU/moc_settingpagetypeone.cpp
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/NAREAVVVVU/moc_settingpagetypetwo.cpp
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/T7X33WEVWS/moc_recipepagetypeone.cpp
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/T7X33WEVWS/moc_recipepagetypetwo.cpp
recipe.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/recipe.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/UsersBORISB~1AppDataLocalTemptmppv23pnfy
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/cmakeFiles-v1-1ade8e231b7db7b3c86f.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/codemodel-v2-5266f8d8af2026ff2ec8.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/directory-.-Debug-105ab7d9e0f9cba894d3.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/index-2023-03-29T16-16-38-0211.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/target-Recipe_book-Debug-c053c93a92110e9e3e5a.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/cmakeFiles-v1-1ade8e231b7db7b3c86f.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/codemodel-v2-5266f8d8af2026ff2ec8.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/directory-.-Debug-105ab7d9e0f9cba894d3.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/index-2023-03-29T16-14-51-0686.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/target-Recipe_book-Debug-c053c93a92110e9e3e5a.json
build-Recipe_book-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/Recipe_book_autogen.dir/AutoRcc_resource_EWIEGA46WW_Info.json
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/reply/cache-v2-83faa1cd954d956fc8d5.json
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/reply/cmakeFiles-v1-adcb8296e5b19f957aa6.json
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/reply/codemodel-v2-dd799a3e4d0b36cfef7f.json
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/reply/directory-.-Debug-105ab7d9e0f9cba894d3.json
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/reply/index-2023-03-29T16-17-50-0194.json
Recipe_book/cmake-build-debug-mingw/.cmake/api/v1/reply/target-Recipe_book-Debug-80e725981758173257ae.json
Recipe_book/cmake-build-debug-mingw/CMakeFiles/Recipe_book_autogen.dir/AutoRcc_resource_EWIEGA46WW_Info.json
Recipe_book/cmake-build-debug-mingw/CMakeFiles/Recipe_book_autogen.dir/AutoRcc_resource_EWIEGA46WW_Lock.lock
Recipe_book/cmake-build-debug-mingw/CMakeFiles/Recipe_book_autogen.dir/AutoRcc_resource_EWIEGA46WW_Used.txt
Recipe_book/cmake-build-debug-mingw/Recipe_book_autogen/EWIEGA46WW/qrc_resource.cpp
